<!DOCTYPE html>
<html>
  <head>

    <script src="/socket.io/socket.io.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/siofu/client.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  </head>
  <body>

      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Files</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">

              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">JavaScript</a></li>
          </ul>

        </div>
      </nav>
      <br>




    <div class="container">
          <!-- Page Content goes here -->
      

    
        

     
      <form>
        Hash:
        <input type="text" id="hash"/><br>
        Descripcion:
        <input type="text" id="description"/><br>
        File:
        <input type="file" id="siofu_input"/><br>
        <br><br>
        <button id="boton" type="submit">subir</button>
      </form>
      <script>
      	var socket = io.connect();
      	var uploader = new SocketIOFileUpload(socket);
      	uploader.listenOnSubmit(document.getElementById("boton"),document.getElementById("siofu_input")	);

      	uploader.addEventListener("start",function(event){
      		event.file.meta.hash = "holis";
      		event.file.meta.hash = $('#hash').val();
      		event.file.meta.description = $('#description').val();})
      	  
      	$('button').click(function(){
              return false;
          });

      </script>

      

        <% if ( files != null  || files.length ==0 ) { %>

        
            <table>
              <thead>
                <tr>
                    <th data-field="id">Name</th>
                    <th data-field="name">Description</th>
                    <th data-field="price"></th>
                </tr>
              </thead>

              <tbody>
                <% for(var i=0; i<files.length; i++) {%>
                  <tr>
                    <td><%= files[i].fileName %></td>
                    <td><%= files[i].description %></td>
                    <td><a href="/<%= (a = files[i].filePath.split('\\'))[a.length-1] %>@<%= files[i].hashName %>"> Download </a></td>
                  </tr>
                
                
              <% } %>
              </tbody>
            </table>
        <% } %>
            



    </div>
  </body>
</html>
